<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="./vue-2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="App">
        <input type="text" name="txtSearch" value="" placeholder="input search word" @keydown.enter="Search" v-model="SearchWord"/>
        <ul>
            <li v-for="(item,index) in DisplayItems">{{item+'.'+index}}</li>
        </ul>
    </div>

    <script>
        var vm = new Vue({
            el: "#App",
            data: {
                SearchWord: '',
                Items: [],
                DisplayItems:[]
            },
            methods: {
                Search() {
                    if (this.SearchWord.trim().length == 0) {
                        this.DisplayItems = this.Items;
                    } else {
                        this.DisplayItems = this.Items.filter(a => a.toLowerCase().includes(this.SearchWord.toLowerCase()));
                    }
                    console.log(this.DisplayItems);
                }
            }
        });

        //init data
        for (var i = 0; i < 100; i++) {
            vm.Items.push("Item" + (i + 1));
        }
        vm.DisplayItems = vm.Items;

    </script>

</body>
</html>